@import 'tailwindcss';
@plugin 'daisyui';

@plugin 'daisyui/theme' {
  name: 'velour';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';

  --catppuccin-crust: #11111b;

  --color-base-100: #1e1e2e;
  --color-base-200: #181825;
  --color-base-300: var(--catppuccin-crust);
  --color-base-content: #cdd6f4;

  --color-primary: #cba6f7;
  --color-primary-content: var(--catppuccin-crust);
  --color-secondary: #89b4fa;
  --color-secondary-content: var(--catppuccin-crust);
  --color-accent: #f38ba8;
  --color-accent-content: var(--catppuccin-crust);

  --color-neutral: #313244;
  --color-neutral-content: #cdd6f4;
  --color-info: #74c7ec;
  --color-info-content: var(--catppuccin-crust);
  --color-success: #a6e3a1;
  --color-success-content: var(--catppuccin-crust);
  --color-warning: #f9e2af;
  --color-warning-content: var(--catppuccin-crust);
  --color-error: #f38ba8;
  --color-error-content: var(--catppuccin-crust);

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.75rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
